@media (max-width: 767px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .title {
        color: #FFF;
        text-align: center;
        font-family: Montserrat;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .top__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .top__text {
        color: #FFF;
        text-align: center;
        font-family: Montserrat;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: 22px;
    }

    .product-box {
        display: flex;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
    }
}